#startDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}
.start-card{
    width: 50%;
    height: 50%;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem
}
.start-name-input{
    width: 75%;
    height: 100%;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    text-align: center;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}
.start-button {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}
