#scoreCard {
  height: 75vh;
  background-color: #4a77459a;
  margin-top: 5rem;
}
#scoreCardHeader {
  background-color: rgba(17, 172, 94, 0.651);
  height: 10vh;
  width: 100%;
  border: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#quarryMap {
  width: 100vw;
  margin-top: auto;
  margin-bottom: auto;
}
.player-names {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
}
.map-btn {
  width: 25vw;
  margin-right: 1rem;
  background-color: forestgreen;
  border-color: aquamarine;
}
.scorecard-btn {
  width: 75%;
  margin-top: 1rem;
  background-color: forestgreen;
  border-color: aquamarine;
}
#exampleModal {
  background-color: rgba(128, 255, 0, 0.274);
}
.map-header,
.map-footer {
  background-color: rgba(34, 139, 34, 0.329);
}
.map-body {
  background-color: rgba(0, 255, 0, 0.329);
  padding: 0;
}
.modal-header {
  background-color: #4a77459a;
  /* justify-content: center; */
}
.modal-body {
  background-color: #3c3f49;
}
.modal-footer {
  background-color: #4a77459a;
  justify-content: center;
}
.yardage-select {
  width: 50%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.score-input {
  width: 50%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}
